


header {
    background-color: #fffaea;
}

.LogoImage {
    border: 1px solid blue;
    vertical-align: top;
    text-align: center;
    
}

#profilepic {
    width: 357px;
}

ul {
    border: 1px solid red;
    vertical-align:top;
    text-align: center;

    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font: size 24px;   
}

li {
    border: 1px solid green;
    text-align: center;
    display: inline-block;
    margin: 0 5ch;

}

#hey {
    font-family:'Montserrat';
    font-weight:bold;
    font: size 48px;  
}


.HeroSection {
    background-color: #FFECD0;
    padding: 100px;
    height: 714px;

}

.RecentWork {
    background-color: #fffaea;
}

.casestudy1{
    background-color: #FFECD0;
}

.casestudy2{
    background-color: #FFECD0;
}

footer{
    background-color: #FFCA0A;
}

h1, p {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: row;
}



/* font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font: size 24px;   */

