


header {
    background-color: #fffaea;
}

.LogoImage {
    border: 1px solid blue;
    width: 100%;
    vertical-align: top;
    text-align: center;
    
}
ul {
    border: 1px solid red;
    vertical-align:top;
    text-align: center;

    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font: size 24px;

   
}

li {
    border: 1px solid green;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
}

.HeroSection {
    background-color: #FFECD0;
    padding: 200px;

}

.RecentWork {
    background-color: #fffaea;
}

.casestudy1{
    background-color: #FFECD0;
}

.casestudy2{
    background-color: #FFECD0;
}

footer{
    background-color: #FFCA0A;
}

h1, p {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: row;


}



font-family:'Montserrat', sans-serif;
font-weight:normal
font: size 24px;